@{
    IgnoreBody();
}
@model LoginViewModel
<!DOCTYPE html>
<html lang="pt">

    <style>
        .meu-elemento {
            width: 100%; /* Altere para o valor desejado */
            /* Outros estilos conforme necessário */
        }
</style>
<head>
    <main id="main" class="main">
        <div class="meu-elemento">
            <meta charset="utf-8">
            <meta content="width=device-width, initial-scale=1.0" name="viewport">
            <title id="page-title">Sistema de Auto Folha 2023 UNIP</title>

            <script>
                // Função para animar o título
                function animateTitle() {
                    var title = document.getElementById('page-title');
                    var text = title.innerText;
                    var i = 0;
                    setInterval(function () {
                        i = (i + 1) % (text.length + 1);
                        title.innerText = text.slice(0, i);
                    }, 200);
                }

                // Inicia a animação após o carregamento da página
                window.onload = function () {
                    animateTitle();
                };
            </script>
            <meta content="" name="description">
            <meta content="" name="keywords">


            <link href="@Url.Content("~/assets/img/favicon.png")" rel="icon">
            <link href="@Url.Content("~/assets/img/apple-touch-icon.png")" rel="apple-touch-icon">


            <link href="https://fonts.gstatic.com" rel="preconnect">
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


            <link href="@Url.Content("~/assets/vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
            <link href="@Url.Content("~/assets/vendor/bootstrap-icons/bootstrap-icons.css")" rel="stylesheet">
            <link href="@Url.Content("~/assets/vendor/boxicons/css/boxicons.min.css")" rel="stylesheet">
            <link href="@Url.Content("~/assets/vendor/quill/quill.snow.css")" rel="stylesheet">
            <link href="@Url.Content("~/assets/vendor/quill/quill.bubble.css")" rel="stylesheet">
            <link href="@Url.Content("~/assets/vendor/remixicon/remixicon.css")" rel="stylesheet">
            <link href="@Url.Content("~/assets/vendor/simple-datatables/style.css")" rel="stylesheet">


            <link href="@Url.Content("~/assets/css/styles.css")" rel="stylesheet">
            <style>
                #page-title {
                    color: #008000; /* Define a cor verde para o título */
                    text-align: center; /* Centraliza o texto */
                    font-family: 'Arial', sans-serif; /* Muda a fonte para Arial */
                }
            </style>

</head>
<body>
    </br>
    <h1 id="page-title">Sistema de Auto Folha</h1>

    <script>
        // Função para animar o título
        function animateTitle() {
            var title = document.getElementById('page-title');
            var text = title.innerText;
            var i = 0;
            setInterval(function () {
                i = (i + 1) % (text.length + 1);
                title.innerText = text.slice(0, i);
            }, 200);
        }

        // Inicia a animação após o carregamento da página
        window.onload = function () {
            animateTitle();
        };
    </script>
</body>
@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role"alert>
        <button type="button" class=" btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}
<body>
    <main>
        <div class="container">
            <section class="section register min-vh-100 d-flex flex-row">
                <div class="col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center">
                    <div class="d-flex justify-content-center py-4">
                        <a href="#" class="logo d-flex align-items-center w-auto">
                            <img src="~/assets/img/logo.png" alt="">
                        </a>
                    </div>
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="pt-4 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">LOGIN</h5>
                                <p class="text-center small">Entre com seu e-mail e senha para logar</p>
                            </div>
                            @using (Html.BeginForm("Logar", "Login", FormMethod.Post, new { @class = "row g-3 needs-validation", @novalidate = "novalidate" }))
                            {
                                <div class="col-12">
                                    @Html.LabelFor(model => model.Email, new { @class = "form-label" })
                                    <div class="input-group has-validation">
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", id="yourUsername", required = "required" })
                                        <div class="invalid-feedback">Entre com seu e-mail.</div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    @Html.LabelFor(model => model.Senha, new { @class = "form-label" })
                                    @Html.TextBoxFor(model => model.Senha, new { @class = "form-control", id="yourPassword", type="password", required = "required" })
                                    <div class="invalid-feedback">Entre com a sua senha</div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-success w-100" type="submit">Login</button>
                                </div>
                            }
                            <div class="text-center small">
                                <span>Privacidade & Termos de Serviço se aplicam à norma LGPD.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 d-flex align-items-center justify-content-center">
                    <img src="~/assets/img/GeradorDeFolha.png" alt="Imagem de Fundo" class="img-fluid">
                </div>
            </section>
        </div>
    </main>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <script src="~/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="~/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/assets/vendor/quill/quill.min.js"></script>
    <script src="~/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/assets/js/main.js"></script>
</body>
</div>
</main>
</html>
